
<div class="login-container">
    <h2>Login</h2>
    <form >
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"  placeholder="Enter your email"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
        </div>
        <button type="submit" class="login-button" (click)="signIn()">Login</button>
    </form>
    <div class="create-account">
        Don't have an account? <a href="/signup">Create one</a>
    </div>
</div>
