/* Default styles */
.login-container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10rem;
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

.create-account {
    font-size: 14px;
    margin-top: 10px;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .login-container {
        margin-top: 5rem;
    }
}

.login-container {
    background-image: url('/src/assets/login-bg.jpg'); /* Replace 'your-background-image.jpg' with your image URL */
    background-size: cover; /* This ensures the image covers the entire container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    
  }
  
