.custom-toolbar {
    background-color: #333; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .toolbar-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin-left: 20px; 
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: cornflowerblue; 
  }
  
  .spacer {
    flex: 1; 
  }
  