@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.event-list {
  display: flex;
  gap: 10px; /* Reduce the gap between columns */
}

/* Column styles */
.column {
  flex: 1;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px; /* Reduce the space between columns */
}

/* Header styles */
.column h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Event styles */
.event {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event:hover {
  background-color: #f0f0f0;
}

/* Dragging styles */
.cdk-drag-preview {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px dashed #aaa;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.8;
  
}

.cdk-drag-placeholder {
  opacity: 0;
}

/* Custom scrollbar for the event list */
.column::-webkit-scrollbar {
  width: 8px;
}

.column::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.column::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .event-list {
    flex-direction: column;
  }

  .column {
    width: 100%;
    margin-right: 0; /* Remove the margin between columns on smaller screens */
    margin-bottom: 10px; /* Add margin below columns on smaller screens */
  }
}

/* event-card.component.css */
mat-card {
  margin: 10px;
  max-width: 300px;
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;
}

mat-card-content {
  font-size: 14px;
  margin-top: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

